.title-gradient-blue {
	background: linear-gradient(180deg, #1d71ed, #5c56e8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.title-gradient-purple {
	background: linear-gradient(180deg, #a03be3, #f219dd);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.title-gradient-blue-purple {
	background: linear-gradient(180deg, #1d71ed, #f219dd);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.title-gradient-green {
	background: linear-gradient(90deg, #13acbb, #b4ef25);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.title-gradient-orange {
	background: linear-gradient(90deg, #fdd453, #ff810c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
