@use '../../abstracts/variables' as v;

.elementor .elementor-widget-heading.mi-heading--decorated {
	.elementor-heading-title {
		display: inline-flex;
		gap: 8px;
		align-items: center;
		padding-right: 2.5em;
		padding-bottom: 0.5em;
		border-bottom: 1px solid v.$gray-400;

		&::before {
			content: '';
			background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2216%22%20viewBox%3D%220%200%2014%2016%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M6%200.57735C6.6188%200.220085%207.3812%200.220085%208%200.57735L12.9282%203.42265C13.547%203.77992%2013.9282%204.44017%2013.9282%205.1547V10.8453C13.9282%2011.5598%2013.547%2012.2201%2012.9282%2012.5774L8%2015.4226C7.3812%2015.7799%206.6188%2015.7799%206%2015.4226L1.0718%2012.5774C0.452995%2012.2201%200.0717969%2011.5598%200.0717969%2010.8453V5.1547C0.0717969%204.44017%200.452995%203.77992%201.0718%203.42265L6%200.57735Z%22%20fill%3D%22%23E93A01%22%2F%3E%3C%2Fsvg%3E')
				no-repeat center;
			background-size: contain;
			display: inline-block;
			height: 1em;
			width: 1em;
			font: inherit;
		}
	}

	&.center {
		.elementor-heading-title {
			padding-inline: 1.25em;
		}

		&.white-stroke {
			.elementor-heading-title {
				border-bottom: 1px solid v.$base-white;
			}
		}
	}
}
