@use 'sass:map';
/**
* Breakpoint -------------------- 
*/
$mobile-down: 600px;
$mobile-up: 601px;
$tablet-767: 767px;
$tablet-768: 768px;
$half-tablet-768: 896px;
$tablet-down: 1024px;
$tablet-up: 1025px;
$laptop-down: 1440px;
$laptop-up: 1441px;

/**
* Color -------------------- 
*/

$colors: (
	'base-white': #ffffff,
	'base-black': #000000,
	'clouded-blue': #1d71ed,
	'natural-wool': #fff5d7,
	'text': #222222,
	'tool-blue': #617788,
	'brilliant-white': #e6f0ff,
	'snowdrop': #f0ffd0,
	'aragonite-white': #f2f1f2,
	'westfall-yellow': #fdd453,
	'philippine-orange': #ff7300,
);

$base-white: map.get($colors, 'base-white');
$base-black: map.get($colors, 'base-black');

$clouded-blue: map.get($colors, 'clouded-blue');
$natural-wool: map.get($colors, 'natural-wool');
$text: map.get($colors, 'text');
$tool-blue: map.get($colors, 'tool-blue');
$brilliant-white: map.get($colors, 'brilliant-white');
$snowdrop: map.get($colors, 'snowdrop');
$aragonite-white: map.get($colors, 'aragonite-white');
$westfall-yellow: map.get($colors, 'westfall-yellow');
$philippine-orange: map.get($colors, 'philippine-orange');
